*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
.container{
    background-color: rgb(189, 191, 189);
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;   /* vertical center */
    padding: 15px;
}
.card{
    width: 90%;
    max-width: 400px;
    background-color: aliceblue;
    border-radius: 6px;
    margin-top: 40px;
    padding-bottom: 20px;
}
h1{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    margin: 10px;
    font-size: 30px;
}
h4{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    margin: 15px;
}

input{
    padding: 12px;
    border-radius: 4px;
    border: 1px solid rgb(221, 220, 220);
    margin: 15px;
    width: calc(100% - 30px);
}

button{
    padding: 12px;
    border-radius: 4px;
    border: none;
    margin: 15px;
    width: calc(100% - 30px);
    color: white;
    cursor: pointer;
    background-color: rgb(71, 165, 71);
}
#result {
    margin-top: 15px;
    font-weight: bold;
    font-size: 18px;
}
@media (max-width: 768px){
    h1{
        font-size: 24px;
    }
}

